/* Your Styles Here */
body{
}

.header {
  text-align: center;
  background: #4663ac;
  color: white;
  font-size: 20px;
  width: 100%
}

body {
  width: 40%;
  margin: 0 auto; 
}

.name {
  text-align: center;
  margin: auto;
  width: 80%;
}

.pic {
  width: 60%;
}

p {
}